.headerContainer{
  width: 100%;
  height: 70px;
  background: #205782;
  padding: 15px 13px;
  box-sizing: border-box;
}

.header{
  display: flex;
}

.logoContainer{
  cursor: pointer;
}

.logo{
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  fill: #ffffff;
}

.menuIconContainer{
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.menuIcon{
  stroke: #ffffff;
}

.pageTitle{
  font-size: 36px;
  font-weight: 900;
  color: #ffffff;
}

.closeIcon{
  position: absolute;
  left: 10px;
  top: 10px;
  fill: #124469;
}

.sideMenu{
  position: absolute;
  padding: 3px 10px;
  height: 100%;
  top: 0;
  right: 0;
  width: 75vw;
  box-sizing: border-box;
  margin-right: -75vw;
  background: #ffffff;
  transition: 0.3s;
  box-shadow: 0 2px 14px rgba(0,0,0, 0.14);
  z-index: 1;
  display: none;
}

.openMenu{
  display: block;
  margin-right: 0;
}

.menuButton{
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin: 30px 0 0 auto;
  cursor: pointer;
}