.headerContainer{
  width: 100%;
  height: 165px;
  background: #124469;
  padding: 20px 13px;
  box-sizing: border-box;
  margin-bottom: -100px;
}

.header{
  display: flex;
}

.logoContainer{
  cursor: pointer;
}

.logo{
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  fill: #ffffff;
}

.menuIconContainer{
  margin-left: auto;
  background: none;
  border: none;
}

.menuIcon{
  stroke: #ffffff;
}

.pageTitle{
  font-size: 36px;
  font-weight: 900;
  color: #ffffff;
}