.card{
  margin: 13px 13px 20px;
  display: block;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 14px rgba(0,0,0, 0.14);
  text-decoration: none;
  word-break:break-all;
  padding: 13px;
  color: black;
}