$likes-size: 50px;

.link{
  text-decoration: none;
}

.firstLine, .secondLine{
  display: block;
}

.firstLine{
  margin-bottom: 8px;
}

.firstLineContents{
  display: flex;
}

.lookingFor{
  font-size: 12px;
  margin: 10px 0 3px;
  font-weight: 600;
  color: #313131;
}

.name{
  font-size: 21px;
  font-weight: 700;
  width: calc(100% - #{$likes-size});
}

.header{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.likes{
  width: $likes-size;
  margin-left: auto;
  text-align: right;
  color: #6E6E6E;
  font-size: 15px;
  line-height: 20px;
}

.heart{
  margin-left: 6px;
  stroke: #6E6E6E;
}

.secondLine{
  margin-bottom: 3px;
  font-size: 14px;
  color: #6E6E6E;
}