.messages{
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 85px;
  overflow: scroll;
}

.message{
  display: inline;
  margin: 5px 10px;
  display: block;
}

.messageInfo{
  color: #6E6E6E;
  font-size: 10px;
  display: block;
  margin: 3px 0 18px;
}

.messageBubble{
  background: #ffffff;
  padding: 7px 15px;
  border-radius: 30px;
  display: inline-block;
  max-width: 80%;
  font-size: 14px;
}

.ownMessage{
  text-align: right;
  .messageBubble{
    background: #356f9c;
    color: white;
  }
}
