.bubble{
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  border-radius: 13px;
  padding: 3px 8px;
  color: #ffffff;
  margin: 6px 5px 0 -1px;
}

.id-1{
  background-color: #5F8A8A;
}

.id-2{
  background-color: #B34D6C;
}

.id-3{
  background-color: #373291;
}

.id-4{
  background-color: #C87D4A;
}