.name{
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.location{
  margin-bottom: 10px;
  color: #6E6E6E;
  font-size: 14px;
}

.header{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.text{
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 18px;
}

.skills{
  margin-bottom: 12px;
}