.input{
  width: 100%;
  font-size: 16px;
  background: #f1f1f1;
  box-sizing: border-box;
  border: none;
  padding: 10px;

  &:focus{
    outline: none;
  }
}

.suggestionsContainer{
  position: relative;
}

.suggestionsList{
  position: absolute;
  background: #ffffff;
  width: 100%;
}

.suggestionHighlighted{
  background-color: #f0f4ff;
}

.suggestion{
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  &:hover{
    background-color: #f0f4ff;
  }
}